
body{
position: relative;
}
.sidebar{
   
    display: none

}
    

#burger{
   cursor: pointer;
  
    transition: all 0.4 ease;
    position: absolute;
    top:18px;
    left: 15px;
    .bar1,.bar2,.bar3{
        width: 35px;
        height: 2px;
        background-color:black;
        margin: 6px 0;
        transition: 0.4s;

    }
    
    .bar1{
        width: 15px;
        margin: 0 auto;
  
    }
 
    .bar2{

    }
    .bar3 {
        width: 15px;
        margin: 0 auto;

    }

   
}
  

    


.nav{
    margin-left: 50px;
    padding: 10px 10px;
   

    >*{
        flex:1;

    }
    
    .search{
       
       
        flex:3 1 300px;
        input{
            width: 100%;
        }

    }
    .user{
    
  

    img{
        width: 40px;
        border-radius:50%;
    }
   }
 
   
}
